.form {
    max-width: 20vw;
    width: 100%;
    margin: 0 auto;
    border: 1px solid lightblue;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: #fff;
}

.btnBlock {
    margin-top: 20px;
}

.cancelBtn {
    margin-left: 15px;
}

.label {
    font-weight: bold;
    margin: 10px 0 10px 0;
}