.form {
    max-width: 50vw;
    margin: 0 auto;
    border: 1px solid lightblue;
    border-radius: 15px;
    padding: 10px;
}

.btnBlock {
    margin-top: 20px;
}

.cancelBtn {
    margin-left: 15px;
}

.label {
    font-weight: bold;
    margin: 10px 0 10px 0;
}