.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    display: grid;
    place-items: center;
    transform: scale(0);
    transition: 1s;
    opacity: 0;
    left: 0;
    top: 0;
}

.modal.active {
    transform: scale(1);
    opacity: 1;
    z-index: 100;
}

.content {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 15px;
    width: 50vh;
    background: #fff;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.btnBlock {
    margin-top: 20px;
}

.cancelBtn {
    margin-left: 15px;
}

.label {
    font-weight: bold;
    margin: 10px 0 10px 0;
    font-size: 14px;
    text-align: left;
}
